#===============================================================================
# Ignore Git Related Files
#===============================================================================

.gitignore

#===============================================================================
# Ignore VSCode Configuration
#===============================================================================

.vscode/**

#===============================================================================
# Ignore NPM Related Files
#===============================================================================

.npmignore

#===============================================================================
# Ignore TypeScript Configuration
#===============================================================================

tsconfig.json
tsconfig.production.json
tsconfig.declaration.json

#===============================================================================
# Ignore Source TypeScript
#===============================================================================

src/**

#===============================================================================
# Ignore ESLint Configuration
#===============================================================================

.eslintignore
.eslintrc.json

#===============================================================================
# Ignore Jest Test Suites
#===============================================================================

jest.config.js
spec/**
coverage/**

#===============================================================================
# Ignore TypeDoc Documentation
#===============================================================================

typedoc.json
docs/**
